* {
    box-sizing: border-box;
}

@media screen and (max-width: 450px) {
    /* #feedback {
        font-size: small !important;
    } */
    #response {
        width: 100%;
        display: block;
        text-align: center;
    }
}
#feedback {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    background-color: #f2f2f2;
    font-size: large;
    line-height: 1.5em;
    min-height: 3em;
}

.monospace {
    font-family: monospace;
}
.sans {
    font-family: sans-serif;
}
.serif {
    font-family: serif;
}
.comic-sans {
    font-family: "Comic Sans MS", "Comic Sans", 'Chalkboard SE', cursive;
}
.large-font {
    font-size: xx-large;
}
#check, #response, #continue {
    font-family: inherit;
}

.inactive {
    display: none;
}

h1 {
    margin: 2rem 0;
    text-align: center;
    font: xx-large monospace;
}
textarea {
    width: 100%;
    height: 10rem;
    display: block;
    margin: 1rem 0;
}
fieldset {
    margin: 1rem 0;
    background-color: #f2f2f2;
}
.pane {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
}
#input-validation {
    color: red;
}
button {
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: large;
    min-width: 10rem;
}